USE [master]
GO
/****** Object:  Database [MVCTemplate]    Script Date: 21/03/2016 7:44:15 ******/
CREATE DATABASE [MVCTemplate]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MVCTemplate', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\MVCTemplate.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MVCTemplate_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\MVCTemplate_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MVCTemplate].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MVCTemplate]
GO
/****** Object:  UserDefinedFunction [dbo].[convert_date_to_normal]    Script Date: 21/03/2016 7:44:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE FUNCTION [dbo].[convert_date_to_normal] (@julian int)  
RETURNS [datetime] AS  
BEGIN
 
DECLARE @Gregorian datetime

	set @Gregorian = NULL

	IF @julian >0 
	BEGIN
		DECLARE @year int, @day int, @base datetime
		SET @year = (@julian/1000 - 100) 
		SET @day = (@julian % 1000) 
		SET @base = '12-31-1999'
		set @Gregorian= DATEADD(dy, @day, DATEADD(yyyy, @year, @base))
	END

	RETURN @Gregorian

END


GO
/****** Object:  UserDefinedFunction [dbo].[SplitString]    Script Date: 21/03/2016 7:44:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		HPFR
-- Create date: 2015-07-29
-- Description:	Split a string by delimeter char
-- =============================================
CREATE FUNCTION [dbo].[SplitString]
(    
      @Input NVARCHAR(MAX),
      @Character CHAR(1)
)
RETURNS @Output TABLE (
      Item NVARCHAR(1000)
)
AS
BEGIN
      DECLARE @StartIndex INT, @EndIndex INT
 
      SET @StartIndex = 1
      IF SUBSTRING(@Input, LEN(@Input) - 1, LEN(@Input)) <> @Character
      BEGIN
            SET @Input = @Input + @Character
      END
 
      WHILE CHARINDEX(@Character, @Input) > 0
      BEGIN
            SET @EndIndex = CHARINDEX(@Character, @Input)
           
            INSERT INTO @Output(Item)
            SELECT SUBSTRING(@Input, @StartIndex, @EndIndex - 1)
           
            SET @Input = SUBSTRING(@Input, @EndIndex + 1, LEN(@Input))
      END
 
      RETURN
END

GO
/****** Object:  Table [dbo].[APPLICATION]    Script Date: 21/03/2016 7:44:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[APPLICATION](
	[ID] [int] NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Description] [varchar](3000) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CONFIG_TABLE]    Script Date: 21/03/2016 7:44:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CONFIG_TABLE](
	[CONFIGID] [int] NOT NULL,
	[PARAMETERNAME] [varchar](100) NULL,
	[TYPEV] [varchar](100) NULL,
	[VALUE] [varchar](2000) NULL,
	[ADDITIONAL_VALUE] [varchar](max) NULL,
 CONSTRAINT [PK__CONFIG_T__C1DFC8E41A14E395] PRIMARY KEY CLUSTERED 
(
	[CONFIGID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FEATURE]    Script Date: 21/03/2016 7:44:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FEATURE](
	[ID] [int] NOT NULL,
	[KEY] [varchar](100) NOT NULL,
	[QUALIFIER] [varchar](100) NOT NULL,
 CONSTRAINT [PK_FEATURE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MENU]    Script Date: 21/03/2016 7:44:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MENU](
	[ID] [int] NOT NULL,
	[NAME] [varchar](50) NULL,
	[DESCRIPTION] [nvarchar](500) NULL,
	[APPLICATION] [int] NOT NULL,
	[REMARK] [nvarchar](50) NULL,
	[PARENT_ID] [int] NOT NULL,
	[URL] [nvarchar](100) NULL,
	[LASTUPDATE] [datetime] NULL,
	[UPDATEBY] [varchar](50) NULL,
 CONSTRAINT [PK_MENU] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[APPLICATION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ROLE]    Script Date: 21/03/2016 7:44:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ROLE](
	[ID] [int] NOT NULL,
	[APPLICATION] [int] NOT NULL,
	[NAME] [varchar](50) NOT NULL,
	[DESCRIPTION] [varchar](100) NULL,
 CONSTRAINT [PK_ROLE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[APPLICATION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ROLE_FUNCTION]    Script Date: 21/03/2016 7:44:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ROLE_FUNCTION](
	[ROLE_ID] [int] NOT NULL,
	[FUNCTION_ID] [int] NOT NULL,
	[FEATURE_ID] [int] NOT NULL,
	[APPLICATION] [int] NOT NULL,
	[DISPLAY] [int] NOT NULL,
	[CREATED_BY] [varchar](15) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](15) NULL,
	[MODIFIED_DATE] [datetime] NULL,
 CONSTRAINT [PK_ROLE_FUNCTION] PRIMARY KEY CLUSTERED 
(
	[ROLE_ID] ASC,
	[FUNCTION_ID] ASC,
	[FEATURE_ID] ASC,
	[APPLICATION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ROLE_MENU]    Script Date: 21/03/2016 7:44:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ROLE_MENU](
	[ROLE_ID] [int] NOT NULL,
	[MENU_ID] [int] NOT NULL,
	[APPLICATION] [int] NOT NULL,
	[MODIFIED_BY] [varchar](15) NOT NULL,
	[MODIFIED_DATE] [datetime] NOT NULL,
 CONSTRAINT [pk_ROLE_MENU] PRIMARY KEY CLUSTERED 
(
	[ROLE_ID] ASC,
	[MENU_ID] ASC,
	[APPLICATION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[USER_BACKUP]    Script Date: 21/03/2016 7:44:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USER_BACKUP](
	[BACKUP_ID] [int] NULL,
	[NETWORKID] [varchar](30) NOT NULL,
	[BACKUP_NETWORKID] [varchar](30) NOT NULL,
	[ISACTIVE] [int] NULL,
	[MODIFIEDDATE] [date] NULL,
	[MODIFIEDBY] [varchar](30) NULL,
 CONSTRAINT [PK_USER_BACKUP] PRIMARY KEY CLUSTERED 
(
	[NETWORKID] ASC,
	[BACKUP_NETWORKID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[USER_PROFILE]    Script Date: 21/03/2016 7:44:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USER_PROFILE](
	[NETWORK_ID] [varchar](30) NOT NULL,
	[APPLICATION] [int] NOT NULL,
	[BADGE] [varchar](15) NOT NULL,
	[DIRECT_REPORT] [varchar](15) NULL,
	[CAI_ID] [varchar](10) NOT NULL,
	[NAME] [varchar](300) NOT NULL,
	[EMAIL] [varchar](300) NOT NULL,
	[STATUS] [int] NULL,
	[ISBACKUP] [int] NOT NULL,
	[COMPANY] [int] NULL,
	[OPG] [varchar](40) NULL,
	[DIVISION] [varchar](300) NULL,
	[SUBDIVISION] [varchar](300) NULL,
	[DEPARTMENT] [varchar](300) NULL,
	[SUBDEPARTMENT] [varchar](300) NULL,
	[ISACTIVE] [int] NOT NULL,
	[MODIFIEDDATE] [date] NOT NULL,
	[MODIFIEDBY] [varchar](100) NOT NULL,
 CONSTRAINT [PK_USER_PROFILE] PRIMARY KEY CLUSTERED 
(
	[NETWORK_ID] ASC,
	[APPLICATION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[USER_ROLE]    Script Date: 21/03/2016 7:44:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USER_ROLE](
	[NETWORK_ID] [varchar](30) NOT NULL,
	[APPLICATION] [int] NOT NULL,
	[ROLE_ID] [int] NOT NULL,
	[MODIFIED_BY] [varchar](30) NOT NULL,
	[MODIFIED_DATE] [datetime] NOT NULL,
 CONSTRAINT [PK_USER_ROLE_1] PRIMARY KEY CLUSTERED 
(
	[NETWORK_ID] ASC,
	[APPLICATION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
